
<div class="grid grid-cols-2 divide-x">
    <div>
        <crypto-currency-list [dataLoaded]="currenciesLoaded"></crypto-currency-list>
    </div>
    <div>
        <crypto-currency-detail></crypto-currency-detail>
    </div>
</div>

<!-- <div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl">
    <div class="md:flex">
   
      <div class="p-8">
        <crypto-currency-list [dataLoaded]="currenciesLoaded"></crypto-currency-list>
      </div>

      <crypto-currency-detail></crypto-currency-detail>

    </div>
  </div> -->



<!-- 
  <div class="space-y-4">
    <div class="w-96 bg-white shadow rounded">
        w-96
    </div>
    <div class="w-80 bg-white shadow rounded">
        w-80
    </div>
    <div class="w-72 bg-white shadow rounded">
        w-72
    </div>
    <div class="w-64 bg-white shadow rounded">
        w-64
    </div>
    <div class="w-60 bg-white shadow rounded">
        w-60
    </div>
    <div class="w-56 bg-white shadow rounded">
        w-56
    </div>
    <div class="w-52 bg-white shadow rounded">
        w-52
    </div>
    <div class="w-48 bg-white shadow rounded">
        w-48
    </div>
  </div> -->




